.navbar {
    width: 321px;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    padding: 4px 27px 21px 27px; 
}

.button:disabled {
    cursor: default;
}

.button {
    font-size: 15px;
    padding: 20px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}



