.navbar {
    width: 375px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 15px;
    margin-bottom: 20px;
}

.button:disabled {
    cursor: default;
}

.button {
    font-size: 15px;
    padding: 20px 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}



